@page
@using System.Globalization
@using Edi.ChinaDetector
@{
    var offlineDetector = new OfflineChinaDetectService();
    var tzResult = await offlineDetector.Detect(DetectionMethod.TimeZone, includeHKTW: true);
    var culResult = await offlineDetector.Detect(DetectionMethod.Culture);
    var bhResult = await offlineDetector.Detect(DetectionMethod.Behavior);
}

<div class="container">
    <h1 class="display-4">ChinaDetector.TestWeb</h1>

    <h2>Offline Detectors</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Method</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>Detect(DetectionMethod.TimeZone)</code></td>
                <td class="@(tzResult.Rank > 0 ? "text-danger" : null)">@tzResult.Rank</td>
            </tr>
            <tr>
                <td><code>Detect(DetectionMethod.Culture)</code></td>
                <td class="@(culResult.Rank > 0 ? "text-danger" : null)">@culResult.Rank</td>
            </tr>
            <tr>
                <td><code>Detect(DetectionMethod.Behavior)</code></td>
                <td class="@(bhResult.Rank > 0 ? "text-danger" : null)">@bhResult.Rank</td>
            </tr>
        </tbody>
    </table>

    <h2>Online Detectors</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Method</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <h2>Debug Information</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Item</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Local Time</td>
                <td>@DateTime.Now</td>
            </tr>
            <tr>
                <td>Time Zone</td>
                <td>@TimeZoneInfo.Local.Id / @TimeZoneInfo.Local.StandardName</td>
            </tr>
            <tr>
                <td>CurrentCulture</td>
                <td>@CultureInfo.CurrentCulture</td>
            </tr>
            <tr>
                <td>CurrentUICulture</td>
                <td>@CultureInfo.CurrentUICulture</td>
            </tr>
        </tbody>
    </table>
</div>
